/**
 * Layout
 */



// Aside bar - Mail / Contacts / Calendar
.aside {
	background: var(--aside-bg-color, #262a33);
	box-shadow: -4px 0 4px -2px var(--aside-bg-shadow, #000) inset;
}

// Icons
.aside-link:focus .aside-linkIcon, .aside-link:hover .aside-linkIcon {
    fill: var(--aside-icon-color, #6B3ABB);
}

.aside-link:active .aside-linkIcon, .aside-link[aria-current="true"] .aside-linkIcon {
    fill: var(--aside-icon-color-active, #bf57a5);
}
