/**
 * Header
 */

 // Slightly smaller logo
 .logo {transform: scale(0.75);}


 .header {

	// Background
	background: linear-gradient(125deg, var(--header-bg-1, #6B3ABB), var(--header-bg-2, #C559A3), var(--header-bg-3,#F7B9A4));
	border-bottom: 1px solid var(--header-border, #FDFDFD);
	height: 7rem; // Slightly thiner header


	// Search field

	// Magnifying glass icon
	.searchbox-search-button > .searchbox-search-button-icon {
		fill: var(--header-icon-color,#FFF);;
	}

    // App Icon
    .appsDropdown-button .appsDropdown-button-icon {
        fill: white;
        opacity: .8;
    }

	// Background
	.searchbox-field[type="search"] {
		background-color: var(--bgcolor-searchbox-field,rgba(0,0,0,.3));
	}



	// Header link
	.topnav-link {
		color: var(--header-link-color,#FFF);;
		opacity: .7;

        span {
            border-bottom: 1px solid rgba(255,255,255,.3);
        }
	}

		// active
		.topnav-link[aria-current="true"] {
			color: var(--header-link-color,#FFF);;
			font-weight: 500;
			opacity: 1;
		}




	// Header Icon
	.topnav-link > svg {
		fill: var(--header-icon-color,#FFF);
		opacity: .5;
	}

		// Hover
		.topnav-link:active,
		.topnav-link:focus,
		.topnav-link:hover,
		.topnav-link[aria-current="true"] {
			> .topnav-icon {
				fill: var(--header-icon-color,#FFF);
				opacity: .8;
			}
		}


    .topnav-link[aria-current="true"] {
        display: none;
    }

	.topnav-link[aria-current="true"] > .topnav-icon {
		fill:var(--header-icon-color,#FFF);
		opacity: .8;
	}


	// Account link
	.navigationUser-button {
		color: var(--header-link-color,#FFF);
	}



	// Initials border
	.dropDown-logout-initials {
		border-color: var(--header-icon-color,#FFF);
	}

	// Email
    .dropDown-logout-displayName,
	.dropDown-logout-email {
		display: none;
	}



}
