/**
 * Header
 */

 // Slightly smaller logo
 .logo {transform: scale(0.75);}


 .header {
	background: linear-gradient(125deg, var(--header-bg-1, #6B3ABB), var(--header-bg-2, #C559A3), var(--header-bg-3,#F7B9A4));
	border-bottom: 1px solid #FDFDFD;
	height: 7rem; // Slightly thiner header



	.searchbox-search-button > .searchbox-search-button-icon {
		fill: #FFF;
	}

	.searchbox-field[type="search"] {
		background-color: var(--bgcolor-searchbox-field,rgba(0,0,0,.3));
	}

	.topnav-link {
		color: rgba(255,255,255,.7);
	}

	// Hover
	.topnav-link:active, 
	.topnav-link:focus, 
	.topnav-link:hover,
	.topnav-link[aria-current="true"] {
		> .topnav-icon {
			fill: #FFF;
		}
	}


	.topnav-link[aria-current="true"] {
		color: #FFF;
		font-weight: 500;
	}

	.topnav-link > svg {
		fill:rgba(255,255,255,.5);
	}

	.topnav-link[aria-current="true"] > .topnav-icon {
		fill:rgba(255,255,255,.8);
	}


	// Account link
	.navigationUser-button {
		color: #FFF;
	}

	.dropDown-logout-displayName {

	}

	.dropDown-logout-email {
		opacity: .6;
	}

	.dropDown-logout-initials {
		border-color: #FFF;
	}
}
