/**
 * Header
 */

 .logo {transform: scale(0.75);}



 .header {
	//background: var(--header-color, #654080);
	background: linear-gradient(125deg, #6B3ABB, #C559A3, #F7B9A4);
	//background: linear-gradient(125deg, #6B3ABB, #DD619C, #FFAEB4);
	border-bottom: 1px solid #FDFDFD;
	height: 7rem;

	.searchbox-search-button > .searchbox-search-button-icon {
		fill: #FFF;
	}

	.searchbox-field[type="search"] {
		background-color: var(--bgcolor-searchbox-field,rgba(0,0,0,.3));
	}

	.topnav-link {
		color: rgba(255,255,255,.7);
	}


	.topnav-link[aria-current="true"] {
		color: #FFF;
	}


	.topnav-link[aria-current="true"] > .topnav-icon {
		color:rgba(255,255,255,.7);
	}

	.navigationUser-button {
		color: #792c64;
	}

	.dropDown-logout-email {
		opacity: .6;
	}

	.dropDown-logout-initials {
		border-color: #792c64;
	}
}
