
/**
 * Labels
 */

.conversation .row {

	.pm_labels {
		position: relative;
		font-size: 10px;
		right: auto;
		bottom: auto;
		height: auto;
		font-weight: 700;

		label {
			background: none !important;
			box-shadow: none;
		}
	}
}

.labelsElement-label {
	border: 0 !important
}



/**
 * Checkboxes
 */

.customMaskInput-mask {
	border: 1px solid #C8C7C7;
	border-radius: 4px;
}

// Position on "Dual" view"
#pm_main:not(.row) {
	.customMaskInput-container {
		align-items: flex-start;
		padding-top: 15px;
	}
}




/**
 * Elements position / Dual view
 */

.conversation {

	.row {

		// Senders
		&.bottom {
			align-items: flex-start;
			height: 25px;
			padding-top: 0;
			padding-bottom: 0;
		}

		// Subject
		&.top {
			align-items: flex-start;
			height: 40px;
		}

		.meta {
			//flex-direction: row-reverse;
			position: absolute;
			top: 5px;
			right: 10px;
			display: block;

		}

		.senders {
			font-size: 12px;
			line-height: 23px;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: calc(100% - 150px);
		}

		h4 {
			height: 34px;
			overflow: hidden;
		}

		h4 .subject-text {
			padding: 0;
			white-space: normal;
			overflow: hidden;
		}

		.singleStar {
			float: right;
		}

		.starButton-star {
			padding: 0 5px 0 10px;
			margin: 0;
		}

	}
}


/**
 * Emails
 */
.conversation {

	height: 90px;
	font-size: 12px;
	letter-spacing: .8px;
	background: #FFF;
	color: #6C4B9B;
	border-bottom: 1px solid #DEDDDD;



	.fa-star-o {
		margin-top: 13px;
		padding: 5px;

		&:before {
			font-size: 18px !important;
		}
	}


	.subject-text .ellipsis {
		overflow: none;
		width: 260px;
		text-overflow: none;
		white-space: wrap;
		line-height: 18px;
	}

	.row {

		height: auto;



		h4 {
			font-size: 11px;
			color: #A59DB0;
			line-height: 18px;
			align-items: flex-start;
			height: auto;
			font-weight: 600 !important;

			.subject-num-message {
				display: none;
			}
		}
	}

		&.read {
			background: #F7F6F6;
			color: #7F6D9B;
		}


	.conversation-meta {
		flex-direction: column-reverse;
		position: relative;
	}
}

body #conversation-list-rows {

	background: #EAEAEA;

	.conversation {
		line-height: 55px;
		height: 55px;
		font-size: 12px;

		.subject .pm_labels {
			background: none;
			float: none;
			position: inherit;
			top: 7px;

			label {
				background: none;
				margin-left: .5rem;
				box-shadow: none;
				line-height: 20px;
				height: 24px;
				font-size: 11px;
			}
		}

		.subject .fa {
			color: #DEDEDE;
		}

		.subject h4 {
			line-height: 55px;
			height: 55px;
			//display: block;
			color: #6C4B9B;
			margin-left: 10px;
			font-size: 12px;
		}




		> * {
			line-height: 55px;
			height: 55px;
		}

		//box-shadow : inset 0 -1px 0 #DFDFDF;


	}

}



