/**
 * Emails list
 */


//
// Labels
//
.conversation .row {

	.pm_labels {

		position: relative;
		font-size: 10px;
		right: auto;
		bottom: auto;
		height: auto;
		font-weight: 700;

		label {

			box-shadow: none;
			height: 20px;
			font-size: 11px;
			padding: 0 .2rem;
		}
	}
}

.pm_labels {

	background: none !important;

	label {
		background: none !important;
		box-shadow: none !important;
		font-weight: 700 !important;
	}
}

.labelsElement-label {
	border: 0 !important
}



//
// Checkboxes
//
.customMaskInput-mask {
	border: 1px solid #C8C7C7 !important;
	border-radius: 4px;
}


// Checked
.conversation {
	.customCheckbox-input:checked + .customCheckbox-mask {

		position: relative;
		background: #FFF;

		&:before{
			position: absolute;
			top: -1px;
			left: 1px;
			color: #6BCDBD;
			content: "\f00c";
			font-family: $font-icons;
			font-size: 12px;
			font-weight: 400;
			line-height: 16px;
		}
	}
}

// Position on "Dual" view"
.conversation {
		.customMaskInput-container {
			align-items: flex-start;
			padding-top: 15px;
		}
}

#conversation-list-rows .conversation {
	.customMaskInput-container {
		align-items: center;
		padding-top: 0;
	}
}


//
// Emails statuses
//
.conversation {

	transition: all .3s ease;

	// Read
	&.read {
	 	background: #F7F6F6 !important;
	 	color: #7F6D9B;

		// Active
		&.active {
			background: #F7F6F6 !important;
		}
	}

	// Hover
	&:hover, &.read:hover {
		background: #FCFBFA !important;
	}

	// Active
	&.active {
		background: #FFF !important;
	}


	&.active, &.read.active {
		box-shadow: 0 -1px 0 #DEDDDD, 0 0 4px rgba(126, 32, 118, 0.12), 3px 0 0 #71A6F5 inset;
		z-index: 10;
		transition: background .3s ease;
	}

	// Marked
	&.marked, &.read.marked {
		box-shadow: 3px 0 0 #71A6F5 inset;

		&:before {
			display: none;
		}
	}

	// Selected
	&.selected, &.read.selected {
		background: #F9FDFC !important;
		box-shadow: 3px 0 0 #6CCEBE inset;
		color: #419588;

		.row h4 {
			color: #90C2B9;
		}

		body #conversation-list-rows & .subject h4 {
			color: #419588;
		}
	}


}




//
// Elements position / Dual view
//

.conversation {

	.row {

		// Senders
		&.bottom {
			align-items: flex-start;
			height: 25px;
			padding-top: 0;
			padding-bottom: 0;
		}

		// Subject
		&.top {
			align-items: flex-start;
			height: 40px;
		}

		.meta {
			//flex-direction: row-reverse;
			position: absolute;
			top: 2px;
			right: 10px;
			display: block;

			time.time {
				margin-right: 5px;
			}

		}

		.senders {
			font-size: 12px;
			line-height: 19px;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: calc(100% - 80px);
		}

		h4 {
			transition: all .3s ease;
			height: 34px;
			overflow: hidden;
			max-width: calc(100% - 33px) !important
		}

		h4 .subject-text {
			padding: 0;
			white-space: normal;
			overflow: hidden;
		}

		.singleStar {
			float: right;
		}

	}
}




/**
 * Stars
 */
.conversation {

	.fa-star-o, .fa-star {
		padding: 0 5px 0 2px;
		margin: 0;

		&:before {
			font-size: 18px !important;
		}
	}

	//.meta .fa-star, body #conversation-list-rows & .fa-star {
	.fa-star {
		color: #ffd338 !important;
	}
}

body #conversation-list-rows .conversation {
	.fa-star, .fa-star-o {
		line-height: 55px;
	}
}


/**
 * Emails
 */
.conversation {

	height: 90px;
	font-size: 12px;
	letter-spacing: .8px;
	background: #FFF;
	color: #6C4B9B;
	border-bottom: 1px solid #DEDDDD;


	.subject-text .ellipsis {
		overflow: none;
		width: 260px;
		text-overflow: none;
		white-space: wrap;
		line-height: 18px;
	}

	.row {

		height: auto;


		h4 {
			font-size: 11px;
			color: #A59DB0;
			line-height: 18px;
			align-items: flex-start;
			font-weight: 600 !important;

			.subject-num-message {
				display: none;
			}
		}
	}



	.conversation-meta {
		flex-direction: column-reverse;
		position: relative;
	}
}



body #conversation-list-rows .conversation {
	border-bottom: 1px solid #DEDDDD;
}

body #conversation-list-rows {

	background: #F7F6F5;

	.conversation {
		line-height: 55px;
		height: 55px;
		font-size: 12px;

		.subject {
			width: 80%;
		}

		.subject .pm_labels {
			background: none;
			float: none;
			position: inherit;
			top: 7px;

			label {
				background: none;
				margin-left: .5rem;
				box-shadow: none;
				line-height: 25px;
				height: 24px;
				font-size: 11px;
			}
		}

		.subject .fa {
			color: #DEDEDE;
		}

		.subject h4 {
			line-height: 55px;
			height: 55px;
			//display: block;
			color: #6C4B9B;
			margin-left: 10px;
			font-size: 12px;
			float: left;
		}




		> * {
			line-height: 55px;
			height: 55px;
		}

		//box-shadow : inset 0 -1px 0 #DFDFDF;

	}
}


body #conversation-list-columns {
	border-right: none;
	background: #F7F6F6;
}
