/**
 * Sidebar
 */

 
.sidebar {

	.pm-button--large {
		background: #f04882;
		border-color: #f04882;
		margin-top: 2rem;
   
		&:hover {
		   background: #d5346c; 
		}
	}
   
   }
   
   // Clean menu items
   // To always show one item, comment the two corresponding lines
   
   .navigation__link:hover, .navigation__link.ptdnd-drag-hover {
	   background: #e7e5e4;
   }
   
   .sidebarApp-item[data-key="drafts"],
   .sidebarApp-item[data-key="sent"],
   .sidebarApp-item[data-key="trash"],
   .sidebarApp-item[data-key="spam"],
   .sidebarApp-item[data-key="allmail"],
	{
	   
	   .navigation__link:not([aria-content="page"]) {
	   opacity: 0;
	   transform: scaleY(0);
	   max-height: 0;
	   padding: 0rem 1rem 0rem 2rem;
	   transition: max-height .1s ease, opacity .1s ease, transform .1s ease, padding .1s ease;
	   transition-delay: unset;	
	   
	   }
   }
   
   .navigation__list {
	   margin-bottom: 6rem;
   }
   
   .navigation__list:hover {
	   .sidebarApp-item[data-key="drafts"],
	   .sidebarApp-item[data-key="sent"],
	   .sidebarApp-item[data-key="trash"],
	   .sidebarApp-item[data-key="spam"],
	   .sidebarApp-item[data-key="allmail"] {
   
		   .navigation__link {
		   opacity: 1;
		   transform: scaleY(1);
		   padding: 1.1rem 1rem 1.1rem 2rem;
		   max-height: 5rem;
		   transition: max-height .3s ease, opacity .3s ease, transform .3s ease, padding .3s ease;
		   transition-delay: .7s;		
		   }
	   }	
   }
   
   // Move settings to bottom
   .sidebarApp-menu {
	   order: 10;
   }
   
   .fill-global-light {
	   fill: var(--fillcolor-icons, #878c95);
   }
   
   