/**
 * Sidebar
 */


.sidebar {

	// Compose button
	.pm-button--large {
		background: var(--primary-button-bg-color, #DB526E);
		margin-top: 2rem;
		border: none;

		&:hover {
		   background: var(--primary-button-bg-hover, #D24360);
		}
	}

	//ul.navigation__list {
	//	margin: 1.5em 0 0;
	//}

	// Icons
	.fill-global-light {
		fill: var(--fillcolor-icons, #878c95);
	}

    [data-name="reload"] {
        fill: var(--color-nav-active, #000);
    }



	// Move settings to bottom
	.sidebarApp-menu {
		order: 1;
	}

	// Margin between navigation & folders / tags
	//.navigation__list {
		//margin-bottom: 6rem;
	//}


	.navigation__link,
	.sidebarLabels-container {
		//padding-top: 1.3rem;
	}



	// Hover & drag n drop
   .navigation__link:hover, .navigation__link.ptdnd-drag-hover {
		background: var(--sidebar-bg-hover, #e7e5e4);
	}

	// Version
	small {
		order: 2;
		opacity: 0;
        transition: opacity .3s ease;
        transition-delay: .7s;

		a {
			color: var(--aside-icon-color, #6B3ABB);
			opacity: .5;

			&:hover {
				color: var(--aside-icon-color, #6B3ABB);
				text-decoration: underline;
				opacity: 1;
			}
		}
	}

    &:hover {
        small {
            opacity: 1;
        }
    }



}


// Hiding/showing navigation items
// Note: Need Sass optimisation

.sidebar {

    @each $navigation-item in $hide-navigation {
		.navigation__link[title="#{$navigation-item}"]:not([aria-current="page"]) {
			opacity: 0;
			transform: scaleY(0);
			max-height: 0;
			padding: 0rem 1rem 0rem 2rem;
			transition: max-height .1s ease, opacity .1s ease, transform .1s ease, padding .1s ease;
			transition-delay: unset;
		}
    }

    .navigation__list:hover {
		.navigation__link {
			opacity: 1;
			transform: scaleY(1);
			padding: 1.1rem 1rem 1.1rem 2rem;
			max-height: 5rem;
			transition: max-height .3s ease, opacity .3s ease, transform .3s ease, padding .3s ease;
			transition-delay: .7s;
		}
    }

}



