/**
 * Sidebar
 */

body section.sidebar {

	background: #FAF9F9;
	padding-top: 20px;
	box-shadow: 0 0 2px rgba(0,0,0,.1), -1px 0 0 #DDDCDB inset;
	z-index: 70;


	.pm_button.primary {
		background: #CE4158;
		transition: all .3s ease;
		font-weight: 700;
		text-align: left;
		padding-left: 15px;
		border-color: darken(#CE4158, 5%);

		span {
			margin-left: -5px;
		}

		&:hover {
			background: #B63045;
   			border-color: darken(#B63045, 5%);
		}

		&:before {
			font-family: $font-icons;
			content: "\f0e0";
			float: left;
			font-size: 15px;
			font-weight: 400;
			color: #FAEBEE;
		}
	}

	ul.menu {

		&:before {
			display: block;
			margin: 20px 20px 0;
			font-size: 12px;
			color: #BABABA;
		}



		&#labelSettings:before {
			content: "Labels";
		}

		li a {
			transition: all .3s ease;
			color: #666;
			font-size: 12px;
			letter-spacing: .5px;
			margin: 3px 0 0 2px;
			font-weight: 600;

			i.fa {
				color: #CCC;
				line-height: 28px;
				font-size: 14px;
				margin-right: 2px;
			}

			.fa-repeat {
				color: #AFAFAF;
				transition: all .3s ease;

				&:hover {
					color: #AFAFAF;
					transform: rotate(60deg);
				}
			}

			em {
				letter-spacing: 1px;
				color: #B1B1B1;
				margin-left: 3px;
			}

		}

		li.active a, li a:hover {
			color: #634382;
		}

	}

	// Hide "message" on setting screen
	body section.sidebar .backToInbox + ul.menu::before {
		display:none;
	}

	div.labels ul li a {

		color: #666;
		font-size: 13px;
		letter-spacing: .25px;
		margin: 5px 0 0 5px;

		&:hover, &.active {
			color: #634382;
		}


		.fa-tag:before {
			content: "\f10c";
		}
	}
}

// Only on the first screen
.compose + &:before {
	content: "Messages";
}

.sidebarApp-container .sidebar-btn-back {
	color: $color-header;
	border: 1px solid $color-header;
}
