/**
 * Toolbar
 */

 .toolbar {
	color: #262a33;
	//border-bottom: 1px solid #DAD9D9;
	box-shadow: 2px -1px 2px -2px #7b7979 inset;
	border-radius: 0;
	background: none;
}

// Hover & active
.pm-button.toolbar-button:hover, .toolbar-button.pm-button--info:hover, 
.toolbar-button.pm-button--redborder:hover, .toolbar-button:hover, 
.toolbar-button:active, .toolbar-button:not(div):active {
	background: var(--sidebar-bg-hover, #e7e5e4); 
}

// Checkbox
.pm-select-all .pm-checkbox-fakecheck {
	background-color: #FFF;
	border-color: var(--fillcolor-icons, #878c95);
}

// Separators
.toolbar-separator {
	width: 2px;
	opacity: .8;
	background-image: linear-gradient(90deg, #DDD 1px,#FFF 0);

}

.pm-group-buttons > .pm-group-button:last-child {
	border-radius: 0;
}


// Calendar

.pm-button.toolbar-button.is-active, .pm-button.toolbar-button:active, .pm-button.toolbar-button:not(div):active, .pm-button.toolbar-button [aria-expanded="true"], .toolbar-button.is-active, .toolbar-button.is-active.pm-button--info, .toolbar-button.is-active.pm-button--redborder, .toolbar-button.pm-button--info:active, .toolbar-button.pm-button--info:not(div):active, .toolbar-button.pm-button--info [aria-expanded="true"], .toolbar-button.pm-button--redborder:active, .toolbar-button.pm-button--redborder:not(div):active, .toolbar-button.pm-button--redborder [aria-expanded="true"], .toolbar-button:active, .toolbar-button:not(div):active, .toolbar-button [aria-expanded="true"] {
	background: #dfdfdf;
}

.minicalendar--onDarkBackground .minicalendar-day {
	color: #000;
}
