/**
 * Toolbar
 */

#pm_toolbar-desktop {

	background: #F4F2F2;
	box-shadow: inset 0 -1px 0 #dbd8d3;
}

.pm_buttons {

	border: 1px solid #d1cdca;
	border-radius: 4px;

	a {
		background: #FBFAFA;
		box-shadow: none;
		color: #7C7B7B;
	}

	& > :first-child {
		border-radius: 4px 0 0 4px;
	}

	& > :last-child {
		border-radius: 0 4px 4px 0;
	}

}

.pm_buttons .pm_buttons:not(:first-of-type), .pm_buttons > * {
	border-left: 1px solid #d1cdca;
}

.chooseLayoutBtns-container-rows .chooseLayoutBtns-btn-rows,
.chooseLayoutBtns-container:not(.chooseLayoutBtns-container-rows) .chooseLayoutBtns-btn-column {
	box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.15);
}