
// Note : To improve performances and prevent a Google request, you can install
// Raleway font on your computer https://fonts.google.com/specimen/Raleway or
// https://www.fontsquirrel.com/fonts/raleway
// and delete this line
//@import url('https://fonts.googleapis.com/css?family=Source Sans Pro:500,600');


//
// Fonts
//



//
// Colors
//

:root {
	--header-color: #654080;
	--aside-color: #262a33;
	--main-bg-color: #F2F0EE;
	--secondary-bg-color: #FAF9F9;
	--bgcolor-item-column-list: #F7F6F6;
	--body-fontsize: 1.3rem;
	--default-font: Muli;
	--color-nav-link: #262a33;
	--bgcolor-toolbar: #F4F2F2;
	--bordercolor-input: #EBEAEA;
	--color-nav-active: #657ee4;
	--fillcolor-icons: #878c95;
}


body {
	//font-family: var(--default-font, 'Muli'), sans-serif;
}

.header {
	//background: var(--header-color, #654080);
	background: linear-gradient(125deg, #6B3ABB, #C559A3, #F7B9A4);
	//background: linear-gradient(125deg, #6B3ABB, #DD619C, #FFAEB4);
	border-bottom: 1px solid #FDFDFD;
	height: 7rem;

	.searchbox-search-button > .searchbox-search-button-icon {
		fill: #FFF;
	}

	.searchbox-field[type="search"] {
		background-color: var(--bgcolor-searchbox-field,rgba(0,0,0,.3));
	}
}

// Menu / Outils
.aside {
	background: var(--aside-color, #262a33);
	box-shadow: -4px 0 4px -2px #000 inset;
}

.logo {transform: scale(0.7);}



.toolbar {
	color: #262a33;
	//border-bottom: 1px solid #DAD9D9;
	box-shadow: 3px -1px 2px -2px #bfbfbf inset
}

.pm-button.toolbar-button:hover, .toolbar-button.pm-button--info:hover, .toolbar-button.pm-button--redborder:hover, .toolbar-button:hover {
	background: #e7e5e4; 
}

.pm-select-all .pm-checkbox-fakecheck {
	background-color: #FFF;
	border-color: #878c95;
}

.toolbar-separator {
	width: 2px;
	opacity: .8;
	background-image: linear-gradient(90deg, #DDD 1px,#FFF 0);

}

.pm-group-buttons > .pm-group-button:last-child {
	border-radius: 0;
}


.conversation {
	box-shadow: 3px -1px 2px -2px #bfbfbf inset;


	.item-icon {
		font-weight: 200;
	}

	.sender {
		color: #000;
		font-weight: 400;
	}

	.subject {
		color: #444;
		font-weight: 200;
	}

	[class*="badgeLabel"] {
		text-transform: none;
	}

	// Time
	time {
		color: #e14179;
		font-size: 1.2rem;
		font-weight: 200;
		color: #777;
		//opacity: .8;
		transition: all .2s ease;

		//&:hover & {
		//	opacity: 1;
		//}
	}

	// Size
	.mtauto.mbauto.mr1.ml1.ng-binding {
		opacity: 0;
		transition: all .2s ease;
		font-size: 1.2rem;
	}

	// Star
	.singleStar {
		opacity: 0;
		transition: all .2s ease;
	}

	&:hover {

		// Size
		.mtauto.mbauto.mr1.ml1.ng-binding {
			opacity: 1;
		}

		// Star
		.singleStar {
			opacity: 1;
		}

	}

}


//
// Sidebar
//

.sidebar {

 .pm-button--large {
	 background: #f04882;
	 border-color: #f04882;
	 margin-top: 2rem;

	 &:hover {
		background: #d5346c; 
	 }
 }

}

// Clean menu items
// To always show one item, comment the two corresponding lines

.navigation__link:hover, .navigation__link.ptdnd-drag-hover {
	background: #e7e5e4;
}

.sidebarApp-item[data-key="drafts"],
.sidebarApp-item[data-key="sent"],
.sidebarApp-item[data-key="trash"],
.sidebarApp-item[data-key="spam"],
.sidebarApp-item[data-key="allmail"],
 {
	
	.navigation__link:not([aria-content="page"]) {
	opacity: 0;
	transform: scaleY(0);
	max-height: 0;
	padding: 0rem 1rem 0rem 2rem;
	transition: max-height .1s ease, opacity .1s ease, transform .1s ease, padding .1s ease;
	transition-delay: unset;	
	
	}
}

.navigation__list {
	margin-bottom: 6rem;
}

.navigation__list:hover {
	.sidebarApp-item[data-key="drafts"],
	.sidebarApp-item[data-key="sent"],
	.sidebarApp-item[data-key="trash"],
	.sidebarApp-item[data-key="spam"],
	.sidebarApp-item[data-key="allmail"] {

		.navigation__link {
		opacity: 1;
		transform: scaleY(1);
		padding: 1.1rem 1rem 1.1rem 2rem;
		max-height: 5rem;
		transition: max-height .3s ease, opacity .3s ease, transform .3s ease, padding .3s ease;
		transition-delay: .7s;		
		}
	}	
}

// Move settings to bottom
.sidebarApp-menu {
	order: 10;
}

.fill-global-light {
	fill: var(--fillcolor-icons, #878c95);
}





//$color-header: #634382;
//linear-gradient(#5E4D86,#654080);


//
// General
//
//body {
//	-webkit-font-smoothing: antialiased;
//	-moz-osx-font-smoothing: grayscale;
//}


// body,
// .pm_opensans {
// 	font-family: $font-default;
// 	font-size: 13px;
// 	line-height: 1.6;
// 	font-weight: 600;
// 	letter-spacing: .5px;
// }


//
// UI Parts
//

//@import 'parts/header';
//@import 'parts/sidebar';
//@import 'parts/toolbar';
//@import 'parts/message';
//@import 'parts/list';
//@import 'parts/conversation';
