
// Note : To improve performances and prevent a Google request, you can install
// Raleway font on your computer https://fonts.google.com/specimen/Raleway or
// https://www.fontsquirrel.com/fonts/raleway
// and delete these line
@import url('https://fonts.googleapis.com/css?family=Raleway:500,600');


//
// Fonts
//
$font-default: 'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-icons: 'FontAwesome';

//
// Colors
//
$color-header: #634382;

$color-primary-d1: #00436E;
$color-primary: #005288;
$color-primary-l1: #005A95;
$color-primary-l2: #2F719C;
$color-primary-l3: #4099D4;

$gradient-header: linear-gradient($color-primary 50%, $color-primary-l1, $color-primary-l2);
//linear-gradient(#5E4D86,#654080);


//
// General
//
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body #wrapper { z-index: 2; }

body,
.pm_opensans {
	font-family: $font-default;
	font-size: 13px;
	line-height: 1.6;
	font-weight: 600;
	letter-spacing: .5px;
}

.pm_button.primary {
    background-color: $color-primary-l1;
    border-color: $color-primary-l1;
    color: #fff;
}
.pm_button.primary:focus, .pm_button.primary:hover {
    background-color: #00436E;
    border-color: transparent;
}



//
// UI Parts
//

@import 'parts/header';
@import 'parts/sidebar';
@import 'parts/toolbar';
@import 'parts/message';
@import 'parts/list';
@import 'parts/conversation';
@import 'parts/buttonsAndLinks';
