//
// Options
//
$hide-message-size: true;
$hide-navigation: drafts sent trash spam allmail; // Choose in: drafts starred archive sent trash spam allmail

//
// Colors
//
:root {
	// Header
	--header-bg-1: #5868CC;
	--header-bg-2: #C559A3;
	--header-bg-3: #F7B9A4;
	--bgcolor-searchbox-field: rgba(0, 0, 0, 0.2);

	// Aside
	--aside-bg-color: #262a33;

	--aside-icon-color: #6B3ABB;
	--aside-icon-color-active: #bf57a5;

	// Sidebar & Toolbar
	--main-bg-color: #F2F0EE;
	--secondary-bg-color: #FAF9F9;
	--sidebar-bg-hover: #e7e5e4;
	--fillcolor-icons: #878c95;
	--color-nav-link: #262a33;

	//--primary-button-bg-color: #f04882;
	--primary-button-bg-color: #DB526E;
	--primary-button-bg-hover: #D24360;

	// Default font
	--body-fontsize: 1.3rem;
	--body-color: #262a33;
	
	// Conversation
	--conversation-icon-color: #e14179;

	--bgcolor-item-column-list: #F7F6F6;
	--bordercolor-input: #EBEAEA;
	--color-nav-active: #657ee4;
	
	--conversation-bg-read: #000;
	--conversation-bg-unread: #000;
	--conversation-bg-active: #000;
}



//
// UI Parts
//

@import 'parts/layout';
@import 'parts/aside';
@import 'parts/header';
@import 'parts/sidebar';
@import 'parts/toolbar';
@import 'parts/conversation';
//@import 'parts/message';